<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header" class="tools tools_left">
    <a class="tools__link" href="/">Реестры</a>
    <a class="tools__link" href="/contract">Договоры и КП</a>
    <a class="tools__link" href="/employee">Сотудники</a>
    <a class="tools__link" href="/equipment">Оборудование и техника</a>
    <a class="tools__link" href="/material">Материалы</a>
</div>

<div  th:fragment="notifies" class="notify__container">
    <div th:each="notify : ${notifies}" th:class="'notify notify_' + ${notify.type}">
        <div class="notify__msg">
            <div class="tools tools_sm tools_between">
                <div class="tools__msg" th:text="${notify.text}"></div>
                <div class="tools__btn"><i class="fas fa-times"></i></div>
            </div>
        </div>
        <div th:each="action : ${notify.actions}" class="notify__actions">
            <div class="tools tools_sm">
                <a th:href="${action.actionHref}" th:text="${action.text}" class="tools__btn">Какое-то действие</a>
            </div>
        </div>
    </div>
</div>

<script th:fragment="script" src="/static/main.js"></script>
</body>
</html>